
@{
    ViewBag.Title = "Success";
}

<h2 class="text-center">Ordine effettuato con successo</h2>
<div class="text-center mt-3">
    <a href="@Url.Action("Index", "Home")" class="btn btn-light px-4">Torna alla Home</a>
</div>
